a {
    cursor: pointer;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


/* footer */

#footer {
    background-color: #1f405eef;
    padding-top: 1%;
}

#footer li {
    padding: 0 1% 0 1%;
}

#footer li:first-child,
li:nth-child(2),
li:nth-child(3) {
    border-right: white solid 1px;
}

#footer a {
    color: white;
}


/*news */

.color {
    background-color: #F5F7F8;
    padding: 5% 2% 5% 5%;
    margin-top: 2%;
    border-radius: 5px;
}

.color:hover {
    opacity: 0.5;
}